.About {
    margin: auto;
    width: 100%;
    background-color: #f6f9fc;
    text-align: center;
}

.email {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: rgb(95, 95, 95);
    margin-top:40px;
}

.emailColor {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: rgb(0, 0, 0);
    margin-top:40px;
    font-weight: 900;
    font-size:18px;
    display: inline-block;
}

.aboutTitle {
    display: inline-block;
    color: rgb(95, 95, 95);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20px;
    font-size: 30px;
    font-family: "Ubuntu","Helvetica","Arial",sans-serif;
    border-bottom: 3px solid rgb(95, 95, 95);
}

.aboutMe {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-align: center;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    color: rgb(95, 95, 95);
    letter-spacing: 1px;
    line-height: 1.6;    
}
.footer {
    font-size: 16px;
    font-weight: 900;
    padding: 40px;
    margin-top: 50px;
    color: rgb(95, 95, 95);
    font-family: "Ubuntu","Helvetica","Arial",sans-serif;
}